/Source/LinkCoder/BusinessLogic/bin/Debug
/Source/LinkCoder/BusinessLogic/obj/Debug
/Source/LinkCoder/Data/bin/Debug
/Source/LinkCoder/Data/obj/Debug
/Source/LinkCoder/DataAccess/bin/Debug
/Source/LinkCoder/DataAccess/obj/Debug
/Source/LinkCoder/Web/bin
/Source/LinkCoder/Web/obj/Debug
