<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6">
            <input class="form-control" type="text" ng-model="originalLink" id="OriginalLink" placeholder="Paste original link" />
        </div>
        <div class="col-sm-1">
            <button class="btn btn-primary" ng-click="onShortenBtnClick()">Shorten</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <span ng-hide="!shortLink">Short link: <a ng-href="{{shortLink}}">{{shortLink}}</a></span>
        </div>
    </div>
</form>