<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Original link</th>
        <th>Short link</th>
        <th>Visits</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="histItem in history">
        <td>{{histItem.CreateDateTime | date:'dd.MM.yyyy hh:mm:ss'}}</td>
        <td><a ng-href="{{histItem.OriginalLink}}" class="original-link" target="_blank">{{histItem.OriginalLink}}</a></td>
        <td><a ng-href="{{histItem.Id}}" ng-click="onShortLinkClick(histItem)" target="_blank">{{baseUrl + histItem.Id}}</a></td>
        <td>{{histItem.Visits}}</td>
    </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <nav>
                    <ul class="pagination">
                        <li ng-class="pageNumber === 0 ? 'disabled' : '';">
                            <a ng-click="onPrevClick()" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                {{pageNumber + 1}}
                            </a>
                        </li>
                        <li ng-class="pageNumber + 1 === historyEntityPage.PageCount ? 'disabled' : '';">
                            <a ng-click="onNextClick()"  aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </td>

        </tr>
    </tfoot>
</table>